@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

/* Кадри за анимация на плъзгане от ляво */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Кадри за анимация на плъзгане от дясно */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Приложете анимация на конкретни елементи */
.text-slide-in-left {
  animation: slideInLeft 2s ease-out;
}

.text-slide-in-right {
  animation: slideInRight 2s ease-out;
}


/* Кадри за анимацията на изплъзгване от долу */
@keyframes slideInFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Приложете анимация на конкретния елемент */
.text-slide-in-from-bottom {
  animation: slideInFromBottom 1s ease-out;
}

  /* test */
  @keyframes fadeInFromRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .visible {
    animation: fadeInFromRight 1s ease-out;
  }



